@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/css3"; 
@import "compass/css3/images"; 
@import "compass/typography";
@import "compass/css3/box-shadow";

//colors
$grey: #A1A1A1;
$lightblue: #238DAF;
$navyblue: #00526B;
$yellow: #FFE433;
$white: #FFFFFF;
//font
$oleo: 'Oleo Script', cursive;

@mixin position-center($width){
	position: absolute;
	left: 50%;
	margin-left: -$width;
}

@mixin circle($radius)
{
	width: $radius;
	height: $radius;
	@include border-radius( 50% );

}

h1{
	font-family: $oleo;
	font-size: 3em;
}

h2{
	font-family: $oleo;
	font-size: 2em;
}

.header{
	.h1{
		display: block;
	}
	text-align: center;
	z-index: 1;
	@include background-image(linear-gradient( $navyblue, adjust-lightness($navyblue, 15%) 50%, $navyblue));
	background-color: $navyblue;
	height: 12em;
}

.mainbody{
	height: 100%;
	z-index: 1;
	background-image: url("../images/wp2.jpg");
	background-width: 100%;
}

.us{
	float: left;
	display: inline-block;
	width: 40%;
	margin-top: 8em;
	margin-left: 5%;
}

.venue{
	float: right;
	display: inline-block;
	width: 40%;
	margin-top: 8em;
	margin-right: 5%;
	ul{
		li{
			list-style-type: none;
			border-bottom: 1px; 
		}
	}
}
.save{
	@include position-center(7em);
	margin-top:  -7em;
	@include circle(14em);

	background-color: $white;
	@include single-box-shadow();
	z-index: 1;
	.innercircle{
		position: relative;
		top: 0.5em;
		left: 0.5em;
		@include circle(13em);
		@include background-image( linear-gradient(top, adjust-lightness($lightblue, 25%), $lightblue ));
	}
}

.savetext{
	text-align: center;
	@include position-center(6em);
	margin-top:4em;
}



// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}
