@import "compass/css3";
@import "compass/css3/images";
@import "compass/typography";
@import "compass/css3/box-shadow";

//colors
$grey: #A1A1A1;
$lightblue: #238DAF;
$navyblue: #00526B;
$yellow: #FFE433;
$white: #FFFFFF;

//font
$oleo: 'Oleo Script', cursive;
$ubuntu: 'Ubuntu', sans-serif;

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

header { display: block; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; text-decoration: none;}
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

strong { font-weight: bold; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
p{ font-family: $ubuntu; font-size: 1em; }
h1, h2, h3{ font-family: $oleo; }
h1{ line-height: 100%;  font-size: 2em; }
section h1{ font-size: 2em; }
ul { margin: 1em 0; padding: 0 0 0 40px; }
body{ font:16px/26px Helvetica, Helvetica Neue, Arial; }



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


// ===== Mixins  ===============================================================

@mixin position-center($width){
	position: absolute;
	left: 50%;
	margin-left: -$width;
}

@mixin circle($radius)
{
	width: $radius;
	height: $radius;
	@include border-radius( 9999px );
}

// ===== Common Styles ========================================================

header{
	h1{
		display: block;
		margin-top: 1em;
		margin-bottom: 2em;
	}
	text-align: center;
	@include background-image(linear-gradient( $navyblue, adjust-lightness($navyblue, 15%) 50%, $navyblue));
}

.wrapper{
	margin: 0 3%;
	width: 94%;
}


#save{
	background-color: $white;
	@include single-box-shadow();
	z-index: 1;
	#innercircle{
		@include background-image( linear-gradient(top, adjust-lightness($lightblue, 25%), $lightblue ));
	}
	#savetext{
		text-align: center;
	}
}

#mainbody{
	text-align: center;
	height: 100%;
	background-image: url("../images/greyfloral.png");
	z-index: 1;
	#us{
		display: inline-block;
		#pic{
			width: 100%;
		}
	}

	#venue{
		ul{
			li{
				list-style-type: none;
			}
		}
		
	}
	#details{
		font-size: 1.5em;
	}

}



// ========Media specific styles===============================================


@media only screen and (min-width: 480px) {
	.wrapper{
		width:90%;
		margin:0 5%;
	}

	header{
		h1{
			font-size: 3em;

		}
		z-index: 1;
		height: 17em;
	}


	#save{
		@include position-center(7em);
		margin-top:  -7em;
		@include circle(14em);
		#innercircle{
			position: relative;
			top: 0.5em;
			left: 0.5em;
			@include circle(13em);
		}
		#savetext{
			text-align: center;
			@include position-center(6em);
			margin-top:3em;
		}
	}

	#mainbody{
		height: 100%;
		z-index: 1;
		 #us{
		 	margin-top: 7em;
		 }
		#details{
			clear: both;
			width: 100%;
			display:block;
		}
	}

}

//Galaxy Nexus and up 
@media only screen and (min-width: 720px) {
		#mainbody{
			text-align: left;
			#us{
				margin-left: 5%;
				margin-top: 8em;
				display: inline-block;
				width: 40%;
				clear: left;
			}

			#venue{
				margin-right: 5%;
				margin-top: 8em;	
				display: inline-block;
				float: right;
				width: 40%;
				clear: right;
			}
	}
}
/*@media only screen and (min-width: 960px) {
	header{ height: 14em;}
} */

@media only screen and (min-width: 807px) {
	header{ height: 14em;}
}


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}