/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
/* line 21, ../../sass/style.scss */
header {
  display: block;
}

/* line 22, ../../sass/style.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 23, ../../sass/style.scss */
html {
  font-family: sans-serif;
  color: #222;
}

/* line 24, ../../sass/style.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1;
}

/* line 26, ../../sass/style.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 27, ../../sass/style.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 29, ../../sass/style.scss */
a {
  color: #00e;
  text-decoration: none;
}

/* line 30, ../../sass/style.scss */
a:visited {
  color: #551a8b;
}

/* line 31, ../../sass/style.scss */
a:hover {
  color: #06e;
}

/* line 32, ../../sass/style.scss */
a:focus {
  outline: thin dotted;
}

/* line 33, ../../sass/style.scss */
a:hover, a:active {
  outline: 0;
}

/* line 35, ../../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 36, ../../sass/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 37, ../../sass/style.scss */
p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}

/* line 38, ../../sass/style.scss */
h1, h2, h3 {
  font-family: "Oleo Script", cursive;
}

/* line 39, ../../sass/style.scss */
h1 {
  line-height: 100%;
  font-size: 2em;
}

/* line 40, ../../sass/style.scss */
section h1 {
  font-size: 2em;
}

/* line 41, ../../sass/style.scss */
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 42, ../../sass/style.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ===============
    ALL: IE Fixes
   =============== */
/* line 50, ../../sass/style.scss */
.ie7 #title {
  padding-top: 20px;
}

/* line 70, ../../sass/style.scss */
header {
  text-align: center;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00526b), color-stop(50%, #008db8), color-stop(100%, #00526b));
  background-image: -webkit-linear-gradient(#00526b, #008db8 50%, #00526b);
  background-image: -moz-linear-gradient(#00526b, #008db8 50%, #00526b);
  background-image: -o-linear-gradient(#00526b, #008db8 50%, #00526b);
  background-image: -ms-linear-gradient(#00526b, #008db8 50%, #00526b);
  background-image: linear-gradient(#00526b, #008db8 50%, #00526b);
}
/* line 71, ../../sass/style.scss */
header h1 {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
}

/* line 80, ../../sass/style.scss */
.wrapper {
  margin: 0 3%;
  width: 94%;
}

/* line 86, ../../sass/style.scss */
#save {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  z-index: 1;
}
/* line 90, ../../sass/style.scss */
#save #innercircle {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fc6e2), color-stop(100%, #238daf));
  background-image: -webkit-linear-gradient(top, #6fc6e2, #238daf);
  background-image: -moz-linear-gradient(top, #6fc6e2, #238daf);
  background-image: -o-linear-gradient(top, #6fc6e2, #238daf);
  background-image: -ms-linear-gradient(top, #6fc6e2, #238daf);
  background-image: linear-gradient(top, #6fc6e2, #238daf);
}
/* line 93, ../../sass/style.scss */
#save #savetext {
  text-align: center;
}

/* line 98, ../../sass/style.scss */
#mainbody {
  text-align: center;
  height: 100%;
  background-image: url("../images/wp2.jpg");
  z-index: 1;
}
/* line 103, ../../sass/style.scss */
#mainbody #us {
  display: inline-block;
}
/* line 105, ../../sass/style.scss */
#mainbody #us #pic {
  width: 100%;
}
/* line 112, ../../sass/style.scss */
#mainbody #venue ul li {
  list-style-type: none;
}
/* line 117, ../../sass/style.scss */
#mainbody #details {
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 2em;
}

@media only screen and (min-width: 480px) {
  /* line 133, ../../sass/style.scss */
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }

  /* line 138, ../../sass/style.scss */
  header {
    z-index: 1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00526b), color-stop(50%, #008db8), color-stop(100%, #00526b));
    background-image: -webkit-linear-gradient(#00526b, #008db8 50%, #00526b);
    background-image: -moz-linear-gradient(#00526b, #008db8 50%, #00526b);
    background-image: -o-linear-gradient(#00526b, #008db8 50%, #00526b);
    background-image: -ms-linear-gradient(#00526b, #008db8 50%, #00526b);
    background-image: linear-gradient(#00526b, #008db8 50%, #00526b);
    height: 17em;
  }
  /* line 139, ../../sass/style.scss */
  header h1 {
    font-size: 3em;
  }

  /* line 149, ../../sass/style.scss */
  #save {
    position: absolute;
    left: 50%;
    margin-left: -7em;
    margin-top: -7em;
    width: 14em;
    height: 14em;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
  }
  /* line 153, ../../sass/style.scss */
  #save #innercircle {
    position: relative;
    top: 0.5em;
    left: 0.5em;
    width: 13em;
    height: 13em;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
  }
  /* line 159, ../../sass/style.scss */
  #save #savetext {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -6em;
    margin-top: 3em;
  }

  /* line 166, ../../sass/style.scss */
  #mainbody {
    height: 100%;
    z-index: 1;
    background-image: url("../images/wp2.jpg");
  }
  /* line 170, ../../sass/style.scss */
  #mainbody #us {
    margin-top: 7em;
  }
  /* line 173, ../../sass/style.scss */
  #mainbody #details {
    clear: both;
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 720px) {
  /* line 184, ../../sass/style.scss */
  #mainbody {
    text-align: left;
  }
  /* line 186, ../../sass/style.scss */
  #mainbody #us {
    margin-left: 5%;
    margin-top: 8em;
    display: inline-block;
    width: 40%;
    clear: left;
  }
  /* line 194, ../../sass/style.scss */
  #mainbody #venue {
    margin-right: 5%;
    margin-top: 8em;
    display: inline-block;
    float: right;
    width: 40%;
    clear: right;
  }
}
/*@media only screen and (min-width: 960px) {
	header{ height: 14em;}
} */
@media only screen and (min-width: 807px) {
  /* line 209, ../../sass/style.scss */
  header {
    height: 14em;
  }
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
/* line 217, ../../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 218, ../../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 219, ../../sass/style.scss */
.clearfix {
  *zoom: 1;
}

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  /* line 226, ../../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 227, ../../sass/style.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 228, ../../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 229, ../../sass/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 230, ../../sass/style.scss */
  img {
    page-break-inside: avoid;
  }

  /* line 231, ../../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 233, ../../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 234, ../../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
