/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

h1{
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Oleo Script', cursive;
	color: #FFE433;
}

h2{
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Oleo Script', cursive;	
}
p{
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	font-size: 110%;
}

.save{
	color: white;
	text-align: center;
	background-color: #238DAF; 
	border-radius: 50%;
	width: 15em;
	height: 15em;
  /* width and height can be anything, as long as they're equal */
}


div.save h2{
	color: white;
	top-mar
}

body{
	background-color: #00526B;
}

ul{

}
li{
	margin-left: 3em;
	display:block;
	list-style : none;
	width: 13em;
	border-bottom: 1px solid #A1A1A1;
}
strong{
	font-size: 150%;
}
/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


